<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{prismic.content.results.0.data.meta_title.json.value}}</title>
  </head>
  <body>
    {{> debug }}
    <main class="main">

    {{#with prismic.content.results.0.data}}
      <section>
        {{{ title.html }}}
        {{{ description.html }}}
      </section>

      <ul class="heroes">
      {{#each heroes.json.value}}
          <li>
            {{ fragments.title.value }}
            {{#with fragments.image}}
              <img src="{{main.url}}" alt="{{main.alt}}" width="{{main.dimensions.width}}" height="{{main.dimensions.height}}" class="medium" />
            {{/with}}
          </li>
      {{/each}}
      </ul>
    {{/with}}
    </main>
  </body>
</html>
